<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- id表示获取到那个对象的标识 ,class表示创建哪个类的对象 -->

	<!--无参构造用法： <bean id="people" class="com.baojuan.pojo.People" /> -->


	<!--有参构造用法： <bean id="people" class="com.baojuan.pojo.People"> <constructor-arg 
		index="0" name="id" type="int" value="10"></constructor-arg> <constructor-arg 
		index="1" name="name" type="java.lang.String" value="张三"></constructor-arg> 
		</bean> -->


	<!-- 实例工厂创建对象 -->
	<!-- <bean id="factory" class="com.baojuan.pojo.PeopleFactory"></bean> <bean 
		id="p" factory-bean="factory" factory-method="newInstance"></bean> -->


	<!-- 如何给对象赋值，即为注入 1.通过构造方法设置值 2.设置注入（set方法） -->
	<!-- <bean id="p" class="com.baojuan.pojo.People"> <property name="id" value="222"></property> 
		<property name="name" value="李四"></property> </bean> -->

	<!-- <bean id="p" class="com.baojuan.pojo.People">
		<property name="sets">
			<set>
				<value>1</value>
				<value>2</value>
			</set>
		</property>
	</bean> -->
	
<!-- 如果属性是 map 
<property name="map">
<map>
<entry key="a" value="b" >
</entry>
<entry key="c" value="d" >
</entry>
</map>
</property>

-->
<!-- DI依赖注入，当一个类(A)中需要依赖另一个类()对象时,把 B 赋值给 A 的过
程就叫做依赖注入. -->
<bean id="p" class="com.baojuan.pojo.People">
<property name="desk" ref="des"></property>
</bean>
<bean id="des" class="com.baojuan.pojo.Desk">
<property name="name" value="desk"></property>
<property name="price" value="12"></property>
</bean>

</beans>